<div id="wrapper">
      <div id="articleshb">
      
  {{#each article}}
  	
  	   {{!-- <p>{{this.title}}</p>
       <p>{{this.link}}</p>
       <br> --}}
  	 <p data-id= {{this._id}}>{{this.title}}</p>
       <a href= {{this.link}}>{{this.link}}</a>
{{/each}}
      </div>	
      <div id="notes"></div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="app.js"></script>

    {{!-- <li>
  	   <p data-id= {{this._id}}>{{this.title}}</p>
       <a href= {{this.link}}>{{this.link}}</a>
  	</li> --}}